{{ block title }}
   前ラウンド情報の公開選択
{{ endblock }}

{{ block content }}

<h2>過去情報の開示選択 - 第{{ player.round_number }}ラウンド</h2>

<p>このラウンド以前のラウンドの情報を投資家に開示しますか？</p>

<form method="post">
    {{ formfields }}
    
</form>

{% if participant.vars.history %}
    <h3>あなたのこれまでの履歴</h3>
    <ul>
        {% for h in participant.vars.history %}
        <li>
            ラウンド {{ h.round }}: 
            投資額 {{ h.give_amount }},
            収益率 {{ h.multiplier }},
            返戻額 {{ h.back_amount }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
{{ next_button }}
{{ endblock }}